<%= form_for @idea do |f| %>
<div class="">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<div class="">
  <%= f.file_field :image %>
</div>
<%= f.submit %>
<% end %>
